Repository mAmineChniti/accountia-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

lnt staged
  .lintstagedrc
Due: none

lnt staged
  .lintstagedrc.json
Due: prettier --write

lnt staged
  .github/workflows/lint-build.yml
Due: none

lint
  bun.lock
  eslint.config.mjs
  package.json
  src/app/globals.css
  src/components/ui/table.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

fixed react ver mismatch
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

boilerplate i18n
  .lintstagedrc.json
  app/[lang]/layout.tsx
  app/[lang]/page.example
  app/globals.css
  bun.lock
  components/locale-switcher.tsx
  components/theme-provider.tsx
  components/theme-toggle.tsx
  components/ui/badge.tsx
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/dialog.tsx
  components/ui/dropdown-menu.tsx
  components/ui/form.tsx
  components/ui/input.tsx
  components/ui/label.tsx
  components/ui/skeleton.tsx
  components/ui/sonner.tsx
  components/ui/table.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  get-dictionary.ts
  i18n-config.ts
  lib/utils.ts
  package-lock.json
  package.json
  proxy.ts
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/page.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

home,login,register, need to fix scroll
  app/[lang]/layout.tsx
  app/[lang]/login/page.tsx
  app/[lang]/page.example
  app/[lang]/page.tsx
  app/[lang]/register/page.tsx
  app/globals.css
  app/layout.tsx
  app/not-found.tsx
  bun.lock
  components.json
  components/Login/Login.tsx
  components/Register/Register.tsx
  components/locale-switcher.tsx
  components/providers.tsx
  components/reusable/navbar.tsx
  components/token-expiration.tsx
  components/ui/button.tsx
  components/ui/input.tsx
  components/ui/navigation-menu.tsx
  components/ui/separator.tsx
  components/ui/sheet.tsx
  components/ui/sidebar.tsx
  components/ui/skeleton.tsx
  components/ui/tabs.tsx
  components/ui/tooltip.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  eslint.config.mjs
  get-dictionary.ts
  hooks/use-mobile.ts
  hooks/useTokenExpiration.tsx
  package-lock.json
  package.json
  proxy.ts
  public/favicon.ico
  public/logo.png
Due: eslint --fix, prettier --write

refactor a bit
  app/[lang]/layout.tsx
  app/[lang]/page.tsx
  bun.lock
  components/Login/Login.tsx
  components/Register/Register.tsx
  components/footer.tsx
  env.js
  package-lock.json
  package.json
  prettier.config.js
Due: eslint --fix, prettier --write

updated pkg locks
  bun.lock
  package-lock.json
Due: prettier --write

implemented auth
  .github/workflows/lint-build.yml
  app/[lang]/forgot-password/page.tsx
  app/[lang]/reset-password/page.tsx
  app/layout.tsx
  bun.lock
  components/ForgotPassword/ForgotPassword.tsx
  components/ForgotPassword/ForgotPasswordSkeleton.tsx
  components/Login/Login.tsx
  components/Register/Register.tsx
  components/ResetPassword/ResetPassword.tsx
  components/ResetPassword/ResetPasswordSkeleton.tsx
  components/token-expiration.tsx
  components/ui/alert.tsx
  components/ui/checkbox.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  env.js
  hooks/useTokenExpiration.tsx
  lib/actions.ts
  lib/requests.ts
  package-lock.json
  package.json
  proxy.ts
  types/RequestSchemas.ts
  types/ResponseInterfaces.ts
Due: eslint --fix, prettier --write

token expiry as date
  components/Login/Login.tsx
  lib/requests.ts
  types/ResponseInterfaces.ts
Due: eslint --fix, prettier --write

pkg upd
  package-lock.json
Due: prettier --write

tryna fix login resp
  components/Login/Login.tsx
  components/footer.tsx
  lib/actions.ts
  types/ResponseInterfaces.ts
Due: eslint --fix, prettier --write

pkg upd
  bun.lock
  package.json
Due: prettier --write

pkg upd
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

isAdmin login
  app/[lang]/admin/page.tsx
  app/api/auth/set-cookies/route.ts
  components/Login/Login.tsx
  lib/requests.ts
  next.config.ts
  types/RequestSchemas.ts
  types/ResponseInterfaces.ts
Due: eslint --fix, prettier --write

feat: user profile update
  app/[lang]/dashboard/page.tsx
  app/[lang]/profile/change-password/page.tsx
  app/[lang]/profile/edit/page.tsx
  app/[lang]/profile/page.tsx
  app/page.tsx
  components/Login/Login.tsx
  components/Profile/ChangePassword.tsx
  components/Profile/Profile.tsx
  components/Profile/ProfileClient.tsx
  components/dashboard-content.tsx
  components/footer.tsx
  components/reusable/navbar.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  hooks/useAuth.ts
  lib/actions.ts
  lib/requests.ts
  package-lock.json
  package.json
  types/RequestSchemas.ts
  types/ResponseInterfaces.ts
Due: eslint --fix, prettier --write

fixed users table, lint issues etc
  app/[lang]/admin/page.tsx
  components/Admin/AdminUsersTable.tsx
  components/Login/Login.tsx
  components/ui/tooltip.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  lib/actions.ts
  proxy.ts
Due: eslint --fix, prettier --write

fixed dictionary type import
  components/Admin/AdminUsersTable.tsx
Due: eslint --fix, prettier --write

fixed admin user delete
  app/api/auth/set-cookies/route.ts
  proxy.ts
Due: eslint --fix, prettier --write

fixed a few errs
  components/Admin/AdminUsersTable.tsx
  components/ui/tooltip.tsx
Due: eslint --fix, prettier --write

env
  .env.local
  .gitignore
  components/Login/Login.tsx
  components/reusable/navbar.tsx
  components/ui/avatar.tsx
  hooks/useSocialAuth.ts
  lib/firebase.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

2fa, imporved admin dash
  app/[lang]/layout.tsx
  app/[lang]/profile/page.tsx
  app/layout.tsx
  bun.lock
  components/Admin/Admin.tsx
  components/Admin/AdminUsersTable.tsx
  components/Login/Login.tsx
  components/Profile/Profile.tsx
  components/reusable/footer.tsx
  components/reusable/locale-switcher.tsx
  components/reusable/navbar.tsx
  components/reusable/providers.tsx
  components/reusable/theme-provider.tsx
  components/reusable/theme-toggle.tsx
  components/reusable/token-expiration.tsx
  components/ui/avatar.tsx
  components/ui/input-otp.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  eslint.config.mjs
  lib/requests.ts
  package-lock.json
  package.json
  prettier.config.js
  types/RequestSchemas.ts
  types/ResponseInterfaces.ts
Due: eslint --fix, prettier --write

fixed register
  app/[lang]/admin/page.tsx
  app/[lang]/profile/page.tsx
  bun.lock
  components.json
  components/Admin/Admin.tsx
  components/Profile/Profile.tsx
  components/Register/Register.tsx
  components/reusable/providers.tsx
  components/ui/calendar.tsx
  components/ui/direction.tsx
  components/ui/popover.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  lib/date-utils.ts
  package-lock.json
  package.json
  proxy.ts
  types/RequestSchemas.ts
Due: eslint --fix, prettier --write

feat: Implement role-based authentication
  app/[lang]/dashboard/page.tsx
  app/[lang]/unauthorized/page.tsx
  components/Login/Login.tsx
  components/Register/Register.tsx
  components/reusable/navbar.tsx
  hooks/useAuth.ts
  lib/rbac.ts
  package-lock.json
  proxy.ts
  types/ResponseInterfaces.ts
Due: eslint --fix, prettier --write

feat: Display user status and role
  components/Admin/Admin.tsx
  components/reusable/navbar.tsx
  types/ResponseInterfaces.ts
Due: eslint --fix, prettier --write

feat: change nav and role
  app/[lang]/dashboard/[userId]/page.tsx
  app/[lang]/layout.tsx
  components/Login/Login.tsx
  components/reusable/navbar.tsx
  lib/rbac.ts
Due: eslint --fix, prettier --write

oauth-google added
  app/[lang]/auth/callback/page.tsx
  components/Auth/OAuthCallbackClient.tsx
  components/Login/Login.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  lib/requests.ts
  package-lock.json
Due: eslint --fix, prettier --write

pkg
  package-lock.json
Due: prettier --write

'rabi'*
  components/Profile/Profile.tsx
  components/Profile/ProfileEnhancements.tsx
  components/reusable/navbar.tsx
  lib/auth-role.ts
  lib/lucide-react.tsx
  package-lock.json
  tsconfig.json
Due: eslint --fix, prettier --write

feat: change role
  app/[lang]/business-application/page.tsx
  app/[lang]/invoices/page.tsx
  components/Admin/Admin.tsx
  components/BusinessApplication/BusinessApplication.tsx
  components/Invoices/Invoices.tsx
  components/Register/Register.tsx
  components/reusable/navbar.tsx
  components/ui/select.tsx
  components/ui/textarea.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  lib/rbac.ts
  lib/requests.ts
  scripts/unlock-user.js
  types/RequestSchemas.ts
  types/ResponseInterfaces.ts
Due: eslint --fix, prettier --write

Création de la branche Wiem2 pour le web
  app/[lang]/dashboard/admin/page.tsx
  app/globals.css
  components/Admin/Admin.tsx
  components/Admin/AdminSidebar.tsx
  components/Profile/Profile.tsx
  components/Statistics/MonthlyStatsChart.tsx
  components/Statistics/RevenueExpensesChart.tsx
  components/reusable/navbar.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  lib/requests.ts
  package-lock.json
  package.json
  ts_errors.txt
  types/ResponseInterfaces.ts
Due: eslint --fix, prettier --write

rm unnecessary
  components/Profile/Profile.tsx
  components/Profile/ProfileEnhancements.tsx
  components/reusable/navbar.tsx
  lib/auth-role.ts
  lib/lucide-react.tsx
  package-lock.json
  tsconfig.json
Due: eslint --fix, prettier --write

change business application
  components/reusable/navbar.tsx
  lib/requests.ts
Due: eslint --fix, prettier --write

fixed ui and navbar state change, need to fix profile
  README.md
  actions/cookies.ts
  actions/logout.ts
  actions/verify-session.ts
  bun.lock
  components/Login/Login.tsx
  components/Profile/Profile.tsx
  components/reusable/footer.tsx
  components/reusable/locale-switcher.tsx
  components/reusable/navbar.tsx
  hooks/useAuth.tsx
  hooks/useTokenExpiration.tsx
  lib/requests.ts
  package-lock.json
  package.json
  proxy.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,jsx,ts,tsx,mjs}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,mjs}) or (any of: **/*.{json,css,md})
