Repository mAmineChniti/accountia-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

coderabbit based fixes
  bun.lock
  components/Business/BusinessProducts.tsx
  components/Business/Chatbot.tsx
  components/BusinessInvoices/IssuedInvoices.tsx
  components/BusinessInvoices/ReceivedInvoices.tsx
  components/Invoices/ImportInvoicesModal.tsx
  components/Invoices/Invoices.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  lib/icu-formatter.ts
  lib/services/chat.ts
  package.json
Due: eslint --fix, prettier --write

coderabbit based fixes
  components/reusable/navbar.tsx
Due: eslint --fix, prettier --write

pkg upd
  package-lock.json
Due: prettier --write

feat: add AI collections dashboard (risk scoring + smart reminders)
  app/[lang]/(protected)/business/[businessId]/collections/page.tsx
  components/Collections/CollectionsDashboard.tsx
  lib/requests.ts
  lib/services/collections.ts
  lib/services/index.ts
  types/services/collectionsResponses.ts
  types/services/index.ts
Due: eslint --fix, prettier --write

fix: UI improvements for expenses, vendors, analytics, client portal, recurring invoices, VAT report, purchase orders, comments and members
  .lintstagedrc.json
  app/[lang]/(protected)/business/[businessId]/client-portal/page.tsx
  app/[lang]/(protected)/business/[businessId]/vendors/page.tsx
  components/Analytics/BusinessAnalytics.tsx
  components/Business/BusinessMembers.tsx
  components/ClientPortal/BusinessClientPortal.tsx
  components/ClientPortal/ClientPortal.tsx
  components/Comments/CommentsSidebar.tsx
  components/Expenses/BusinessExpenses.tsx
  components/PurchaseOrders/BusinessPurchaseOrders.tsx
  components/RecurringInvoices/RecurringInvoices.tsx
  components/Reports/VatReport.tsx
  components/Vendors/BusinessVendors.tsx
  eslint.config.mjs
Due: eslint --fix, prettier --write

add boutton stripe et amelioration de chat
  app/[lang]/(protected)/business/[businessId]/statistics/page.tsx
  app/[lang]/(protected)/invoices/page.tsx
  components/Business/BusinessStatistics.tsx
  components/Business/Chatbot.tsx
  components/Invoices/Invoices.tsx
  dictionaries/en.json
  dictionaries/fr.json
  lib/requests.ts
  lib/services/auth.ts
  package-lock.json
  types/services/authResponses.ts
  types/services/invoicesResponses.ts
Due: eslint --fix, prettier --write

correct errors
  components/Business/BusinessStatistics.tsx
  components/Business/Chatbot.tsx
  components/Invoices/Invoices.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  types/services/invoicesResponses.ts
Due: eslint --fix, prettier --write

feat: implement PDF invoice import UI and translation support, including project-wide lint fixes
  components/app/invoices/ImportInvoicesModal.tsx
  dictionaries/en.json
  dictionaries/fr.json
  lib/requests.ts
  lib/services/invoices.ts
  package-lock.json
  types/services/invoicesResponses.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript errors post-merge (formatter type, duplicate export, businessId)
  .env.local
  components/Analytics/BusinessAnalytics.tsx
  components/app/business-analytics/BusinessAnalytics.tsx
  components/app/business-members/BusinessMembers.tsx
  package-lock.json
  types/services/analyticsResponses.ts
Due: eslint --fix, prettier --write

feat: add AI receipt scanner UI — scan button, upload dialog, confidence indicator, form pre-fill
  components/app/business-expenses/BusinessExpenses.tsx
  lib/services/expenses.ts
  types/services/expensesResponses.ts
Due: eslint --fix, prettier --write

fixed accountant
  app/[lang]/(admin)/layout.tsx
  app/[lang]/(protected)/layout.tsx
  app/layout.tsx
  components/app/business-accountant/BusinessAccountant.tsx
  components/app/business-accountant/JobResultsView.tsx
  components/app/business-accountant/TaxSummaryView.tsx
  components/app/business-application/BusinessApplication.tsx
  components/app/business-invoices/ReceivedInvoices.tsx
  components/app/business-statistics/BusinessStatistics.tsx
  components/app/business/Chatbot.tsx
  components/reusable/user-sidebar.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  hooks/use-focus-route.ts
  lib/requests.ts
  lib/services/accountant.ts
  types/services/accountantResponses.ts
  types/services/accountantSchemas.ts
  types/services/productsSchemas.ts
  types/services/sharedTypes.ts
Due: eslint --fix, prettier --write

remove .env from repository and front unit test
  .gitignore
  .lintstagedrc.json
  .prettierrc
  app/[lang]/(protected)/business/[businessId]/members/page.tsx
  components/Analytics/BusinessAnalytics.tsx
  components/app/auth/Register.tsx
  components/app/business-analytics/BusinessAnalytics.tsx
  components/app/business-expenses/BusinessExpenses.tsx
  components/app/business-members/BusinessMembers.test.tsx
  components/app/business-members/BusinessMembers.tsx
  components/reusable/user-sidebar.tsx
  eslint.config.mjs
  lib/services/analytics.ts
  lib/services/business.test.ts
  lib/services/business.ts
  lib/services/comments.ts
  lib/services/expenses.test.ts
  lib/services/expenses.ts
  lib/services/invoices.test.ts
  lib/services/purchase-orders.ts
  lib/services/recurring-invoices.ts
  lib/services/reports.ts
  lib/services/vendors.test.ts
  lib/services/vendors.ts
  package-lock.json
  package.json
  types/services/businessResponses.ts
  types/services/expensesSchemas.ts
  types/services/purchaseOrdersResponses.ts
  vitest.config.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write

test: verify lint-staged fix
  README.md
Due: prettier --write

fix: move lint-staged to package.json
  .lintstagedrc.json
  package.json
Due: prettier --write

fix: disable lint-staged temporarily
  .husky/pre-commit
Due: none

assitant fix
  components/app/business-accountant/BusinessAccountant.tsx
  components/app/business-accountant/JobResultsView.tsx
  components/app/business-accountant/TaxSummaryView.tsx
  components/app/business-statistics/BusinessStatistics.tsx
  components/app/business-statistics/BusinessStatisticsSkeleton.tsx
  components/app/business/Chatbot.tsx
  components/app/invoices/Invoices.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  lib/requests.ts
  lib/services/accountant.ts
  lib/services/auth.ts
  lib/services/invoices.ts
  types/services/accountantResponses.ts
  types/services/accountantSchemas.ts
  types/services/authResponses.ts
  types/services/invoicesResponses.ts
Due: eslint --fix, prettier --write

favicon and seo
  app/[lang]/(protected)/business-application/page.tsx
  app/[lang]/(protected)/invoices/page.tsx
  app/[lang]/(protected)/profile/page.tsx
  app/[lang]/(public)/forgot-password/page.tsx
  app/[lang]/(public)/login/page.tsx
  app/[lang]/(public)/page.tsx
  app/[lang]/(public)/register/page.tsx
  app/[lang]/(public)/reset-password/page.tsx
  app/[lang]/layout.tsx
  app/layout.tsx
  app/manifest.ts
  app/not-found.tsx
  app/robots.ts
  app/sitemap.ts
  components/seo/JsonLd.tsx
  env.js
  lib/seo/metadata.ts
  lib/seo/schema.tsx
  next.config.ts
Due: eslint --fix, prettier --write

favicon fix
  app/layout.tsx
Due: eslint --fix, prettier --write

fixed health endpoint
  components/app/business-accountant/BusinessAccountant.tsx
  lib/requests.ts
  lib/services/accountant.ts
  types/services/accountantResponses.ts
Due: eslint --fix, prettier --write

fixing accountant job details
  components/app/business-accountant/BusinessAccountant.tsx
Due: eslint --fix, prettier --write

fixed favicon again
  app/head.tsx
Due: eslint --fix, prettier --write

fixed favicon again and job
  components/app/business-accountant/BusinessAccountant.tsx
  components/app/business-accountant/JobResultsView.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
Due: eslint --fix, prettier --write

fixed job results view
  components/app/business-accountant/BusinessAccountant.tsx
  components/app/business-accountant/JobResultsView.tsx
Due: eslint --fix, prettier --write

favicon uncache
  app/head.tsx
  app/layout.tsx
Due: eslint --fix, prettier --write

analytics
  app/layout.tsx
  bun.lock
  package.json
Due: eslint --fix, prettier --write

fixed lint errors
  components/app/business-accountant/BusinessAccountant.tsx
  components/app/business-accountant/JobResultsView.tsx
Due: eslint --fix, prettier --write

speed insights and rm head
  app/head.tsx
  app/layout.tsx
  bun.lock
  package.json
Due: eslint --fix, prettier --write

Install and Configure Vercel Speed Insights
  app/layout.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

integration final
  .env.local
  package-lock.json
Due: prettier --write

correct payment stripe
  components/app/invoices/Invoices.tsx
  package-lock.json
  types/services/invoicesResponses.ts
Due: eslint --fix, prettier --write

add frontend unit tests for Invoices, Products and Logs
  package-lock.json
  package.json
  sonar-project.properties
  test/BusinessProducts.test.tsx
  test/Invoices.test.tsx
  test/Logs.test.tsx
  vitest.config.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write

fix: remove unused import in vitest config
  vitest.config.ts
Due: eslint --fix, prettier --write

ci: add github actions for frontend
  .github/workflows/ci.yml
Due: none

ci/cd: add test and build artifact pipelines
  .github/workflows/ci.yml
Due: none

fix: skip env validation during build on CI
  .github/workflows/ci.yml
Due: none

fixing accountant job and taxes
  components/app/business-accountant/BusinessAccountant.tsx
  components/app/business-accountant/JobResultsView.tsx
  components/app/business-accountant/TaxSummaryView.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  lib/requests.ts
  lib/services/accountant.ts
  types/services/accountantResponses.ts
  types/services/accountantSchemas.ts
  types/services/sharedTypes.ts
Due: eslint --fix, prettier --write

fixed a few conf files
  .env.local
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  README.md
  eslint.config.mjs
  package.json
  vitest.config.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write

fixed a few conf tsx files
  app/[lang]/(protected)/business/[businessId]/client-portal/page.tsx
  app/[lang]/(protected)/business/[businessId]/collections/page.tsx
  app/[lang]/(protected)/business/[businessId]/invoices/page.tsx
  app/[lang]/(protected)/business/[businessId]/purchase-orders/page.tsx
  app/[lang]/(protected)/business/[businessId]/vendors/page.tsx
  app/[lang]/(public)/layout.tsx
  app/[lang]/(public)/portal/[token]/page.tsx
  components/Analytics/BusinessAnalytics.tsx
  components/ClientPortal/BusinessClientPortal.tsx
  components/Expenses/BusinessExpenses.tsx
  components/PurchaseOrders/BusinessPurchaseOrders.tsx
  components/RecurringInvoices/RecurringInvoices.tsx
  components/Reports/VatReport.tsx
  components/Vendors/BusinessVendors.tsx
  components/app/auth/Register.tsx
  components/app/business-analytics/BusinessAnalytics.tsx
  components/app/business-client-portal/BusinessClientPortal.tsx
  components/app/business-expenses/BusinessExpenses.tsx
  components/app/business-invoices/CommentsSidebar.tsx
  components/app/business-invoices/IssuedInvoices.tsx
  components/app/business-members/BusinessMembers.test.tsx
  components/app/business-members/BusinessMembers.tsx
  components/app/business-purchase-orders/BusinessPurchaseOrders.tsx
  components/app/business-vendors/BusinessVendors.tsx
  components/app/client-portal/ClientPortal.tsx
  components/app/collections/CollectionsDashboard.tsx
  components/app/comments/CommentsSidebar.tsx
  components/app/portal/ClientPortal.tsx
  components/app/recurring-invoices/RecurringInvoices.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  lib/services/business.test.ts
  lib/services/expenses.test.ts
  lib/services/invoices.test.ts
  lib/services/vendors.test.ts
  proxy.ts
  types/services/vendorsSchemas.ts
Due: eslint --fix, prettier --write

fixed a few conf tsx files
  app/[lang]/(protected)/business/[businessId]/members/page.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,jsx,ts,tsx,mjs}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,mjs}) or (any of: **/*.{json,css,md})
