Repository mAmineChniti/accountia-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,mjs}": ["eslint --fix", "prettier --write"],
  "**/*.{json,css,md}": ["prettier --write"]
}

grafana + prometheus
  Jenkinsfile
Due: none

grafana + prometheus
  .prettierignore
  Jenkinsfile
Due: none

grafana + prometheus
  Jenkinsfile
  sonar-project.properties
Due: none

grafana + prometheus
  Jenkinsfile
  grafana/dashboards/accountia-ai.json
  grafana/dashboards/accountia-api.json
  grafana/dashboards/accountia-web.json
Due: prettier --write

grafana + prometheus
  Jenkinsfile
  alert_rules.yml
  alertmanager.yml
  app/api/alerts/route.ts
  package-lock.json
  package.json
  prometheus.yml
  sonar-project.properties
  tests/api-routes.test.ts
  tests/date-utils.test.ts
  tests/lib-utils.test.ts
  tests/service-error.test.ts
  tsconfig.sonar.json
  vitest.config.ts
Due: eslint --fix, prettier --write

grafana + prometheus
  Jenkinsfile
  bun.lock
  tests/services-exports.test.ts
Due: eslint --fix, prettier --write

code test fixed final final final
  __tests__/lib/services/auth.spec.ts
  __tests__/lib/services/expenses.spec.ts
  __tests__/lib/services/invoices.spec.ts
  __tests__/lib/services/products.spec.ts
  components/app/business-invoices/ReceivedInvoices.tsx
  components/app/invoices/ImportInvoicesModal.tsx
Due: eslint --fix, prettier --write

ff
  __tests__/components/ui/button.spec.tsx
  playwright-report/data/24519db073d9d6a9c949a51e2b1a71edcb23050d.md
  playwright-report/data/36f06cc173c939dd25dca5e77abc47ee55d4df5b.md
  playwright-report/data/5500595d3caad97ca7b17127a0fa8597a355013a.md
  playwright-report/data/752acc6d79aefc065716085fa7e90eec12882038.md
  playwright-report/data/d66ab7137949e80551540778b1b2d03874db9f6a.md
  playwright-report/data/eca82674a0021a96403fb77916e2acfde3221a82.md
  playwright-report/index.html
  scripts/generate-sample-pdf.js
  test-results/.last-run.json
  test-results/login-Login-Flow-should-show-error-on-invalid-login-chromium/error-context.md
  test-results/login-Login-Flow-should-show-error-on-invalid-login-firefox/error-context.md
  test-results/login-Login-Flow-should-show-error-on-invalid-login-webkit/error-context.md
  test-results/login-Login-Flow-should-show-login-page-and-allow-typing-chromium/error-context.md
  test-results/login-Login-Flow-should-show-login-page-and-allow-typing-firefox/error-context.md
  test-results/login-Login-Flow-should-show-login-page-and-allow-typing-webkit/error-context.md
Due: eslint --fix, prettier --write

ff
  .gitignore
  __tests__/lib/services/invoices.spec.ts
  bun.lock
  components/app/business-invoices/ReceivedInvoices.tsx
  components/app/business/Business.tsx
  components/app/invoices/ImportInvoicesModal.tsx
  components/app/invoices/Invoices.tsx
  components/reusable/user-sidebar.tsx
  eslint.config.mjs
  lib/services/expenses.ts
  package-lock.json
Due: eslint --fix, prettier --write

ff
  components/app/invoices/Invoices.tsx
Due: eslint --fix, prettier --write

rm deliverables thingy
  README.md
Due: prettier --write
