Repository mAmineChniti/accountia-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

translations and coderabbit fixes
  app/[lang]/(protected)/business/[businessId]/collections/page.tsx
  components/app/business-client-portal/BusinessClientPortal.tsx
  components/app/business-expenses/BusinessExpenses.tsx
  components/app/business-purchase-orders/BusinessPurchaseOrders.tsx
  components/app/business-vendors/BusinessVendors.tsx
  components/app/collections/CollectionsDashboard.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
  lib/requests.ts
  lib/services/expenses.ts
Due: eslint --fix, prettier --write

coderabbit fixes
  components/app/portal/ClientPortal.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
Due: eslint --fix, prettier --write

coderabbit fixes
  components/reusable/user-sidebar.tsx
  dictionaries/ar.json
  dictionaries/en.json
  dictionaries/fr.json
Due: eslint --fix, prettier --write

coderabbit fixes
  proxy.ts
Due: eslint --fix, prettier --write

devops
  .dockerignore
  .gitignore
  Dockerfile
  Jenkinsfile
  README.md
  alert_rules.yml
  app/api/metrics/route.ts
  app/layout.tsx
  docker-compose-jenkins.yml
  docker-compose-monitoring.yml
  eslint.config.mjs
  package-lock.json
  package.json
  prettier.config.js
  prometheus.yml
  sonar-project.properties
Due: eslint --fix, prettier --write

fix: vitest bindings, sonar tsconfig and deploy port
  package-lock.json
  package.json
  sonar-project.properties
  tsconfig.sonar.json
Due: prettier --write

fix: final standalone sonar config and port 3001
  Jenkinsfile
  tsconfig.sonar.json
Due: prettier --write

fix: restore stages line and optimize copy
  Jenkinsfile
Due: none

change file jenkins
  Jenkinsfile
Due: none

change file jenkins
  Jenkinsfile
  sonar-project.properties
Due: none

fix: explicit test inclusion for vitest and sonar coverage
  sonar-project.properties
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: force coverage generation and verify file
  Jenkinsfile
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: force linux binding and auto-format config
  package.json
Due: prettier --write

fix: inline esm modules for vitest jsdom
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: add NODE_OPTIONS to support jsdom ESM resolution on older Node versions
  Jenkinsfile
Due: none

fix: switch from jsdom to happy-dom for jenkins node 20.18 compat
  Jenkinsfile
  package.json
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: explicit install of rolldown linux binding in jenkins
  Jenkinsfile
Due: none

fix: delete package-lock.json in jenkins to force linux optional bindings
  Jenkinsfile
Due: none

rm test will redo when full codebase
  .github/workflows/ci.yml
  app/layout.tsx
  bun.lock
  package-lock.json
  package.json
  sonar-project.properties
  test/BusinessProducts.test.tsx
  test/Invoices.test.tsx
  test/Logs.test.tsx
  vitest.config.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write

rm test will redo when full codebase
  package-lock.json
Due: prettier --write

pkg lock
  package-lock.json
Due: prettier --write

docker + jenkins
  Dockerfile
  Jenkinsfile
  next.config.ts
Due: eslint --fix, prettier --write

grafana + prometheus
  Jenkinsfile
  alert_rules.yml
  alertmanager.yml
  app/api/alerts/route.ts
  docker-compose-jenkins.yml
  docker-compose-monitoring.yml
  grafana/dashboards/accountia-ai.json
  grafana/dashboards/accountia-api.json
  grafana/dashboards/accountia-web.json
  grafana/provisioning/dashboards/dashboards.yml
  grafana/provisioning/datasources/datasource.yml
  prometheus.yml
  sonar-project.properties
Due: eslint --fix, prettier --write

grafana + prometheus
  Jenkinsfile
Due: none

grafana + prometheus
  Jenkinsfile
  env.js
Due: eslint --fix, prettier --write

grafana + prometheus
  alertmanager.yml
  prometheus.yml
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,jsx,ts,tsx,mjs}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx,mjs}) or (any of: **/*.{json,css,md})
